<div class="d-flex justify-content-between">
    <span mat-dialog-title>Faire un décaissement</span>
    <mat-icon color="warn" mat-dialog-close>clear</mat-icon>
</div>
<mat-divider></mat-divider>
<div mat-dialog-content class="mt-4">
    <form #form="ngForm">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select
                    type="text"
                    name="outflowType"
                    #outflowType="ngModel"
                    [(ngModel)]="outflow.outflowType"
                    (selectionChange)="getType($event)"
                    required
                >
                    <mat-option *ngFor="let outflowType of outflowTypes" value="{{ outflowType }}">{{
                      outflowType
                    }}</mat-option>
                </mat-select>
                <mat-error *ngIf="!isValid(outflowType)">{{ getError(outflowType) }}</mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Personnel</mat-label>
                <mat-select
                    type="text"
                    name="personnel"
                    #personnel="ngModel"
                    [(ngModel)]="outflow.personnel"
                    (selectionChange)="getPersonnelSelected($event)"
                    required
                >
                    <mat-option *ngFor="let p of personnels" [value]="p">{{ p.firstname }} {{ p.lastname }}</mat-option>
                </mat-select>
                <mat-error *ngIf="!isValid(personnel)">{{ getError(personnel) }}</mat-error>
            </mat-form-field>
        </p>

        <div *ngIf="isMission">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Lieu</mat-label>
                    <input
                        type="text"
                        matInput
                        name="location"
                        #location="ngModel"
                        [(ngModel)]="outflow.location"
                        required
                    />
                    <mat-error *ngIf="!isValid(location)">{{ getError(location) }}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Durée</mat-label>
                    <input
                        type="number"
                        matInput
                        name="duration"
                        #duration="ngModel"
                        [(ngModel)]="outflow.duration"
                        required
                    />
                    <mat-error *ngIf="!isValid(duration)">{{ getError(duration) }}</mat-error>
                    <mat-hint>Durée en jours</mat-hint>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Montant</mat-label>
                    <input
                        type="text"
                        matInput
                        name="amountMission"
                        #amountMission="ngModel"
                        [(ngModel)]="outflow.amountMission"
                        placeholder="XFCFA"
                        required
                    />
                    <mat-error *ngIf="!isValid(amountMission)">{{ getError(amountMission) }}</mat-error>
                </mat-form-field>
            </p>
        </div>

        <div *ngIf="!isMission">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input
                        type="text"
                        matInput
                        name="description"
                        #description="ngModel"
                        [(ngModel)]="outflow.description"
                        placeholder="XFCFA"
                        required
                    />
                    <mat-error *ngIf="!isValid(description)">{{ getError(description) }}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Date</mat-label>
                    <input
                        type="date"
                        matInput
                        name="outflowDate"
                        [matDatepicker]="date"
                        #datepicker="ngModel"
                        [(ngModel)]="outflow.outflowDate"
                        (dateInput)="getDate($event.value)"
                        required
                    />
                    <mat-datepicker #date color="primary"></mat-datepicker>
                    <mat-error *ngIf="!isValid(datepicker)">{{ getError(datepicker) }}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Montant</mat-label>
                    <input
                        type="text"
                        matInput
                        name="amount"
                        #amount="ngModel"
                        [(ngModel)]="outflow.amount"
                        placeholder="XFCFA"
                        required
                    />
                    <mat-error *ngIf="!isValid(amount)">{{ getError(amount) }}</mat-error>
                </mat-form-field>
            </p>
        </div>

        <div mat-dialog-actions [align]="'end'">
            <button mat-raised-button color="primary" (click)="save(form)">Valider</button>
        </div>
    </form>
</div>
